<ArrgWeb.NavigationComponents.secondary_nav_bar assigns={assigns}>
  <:item navigate={~p"/settings"} exact={true}>Settings</:item>
  <:item navigate={~p"/settings/storage"}>Storage</:item>
</ArrgWeb.NavigationComponents.secondary_nav_bar>

<.header class="px-4 py-4 sm:px-8">
  Settings
</.header>

<ArrgWeb.LayoutComponents.unimplemented_space />
